@import "https://fonts.googleapis.com/css?family=Inconsolata&display=swap";
.nav-container {
  background-color: #45475b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 20px; }
  .nav-container .nav-bar {
    justify-content: flex-end;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0px; }
    .nav-container .nav-bar li {
      text-transform: uppercase;
      border-bottom: 3px solid transparent;
      margin: 10px 0 0 8px; }
      .nav-container .nav-bar li i {
        border-radius: 3px;
        padding: 5px; }
      .nav-container .nav-bar li a {
        text-decoration: none;
        font-size: 13px; }
      .nav-container .nav-bar li.settings a {
        color: #8BE9FC; }
      .nav-container .nav-bar li.settings i {
        background-color: #8BE9FC; }
      .nav-container .nav-bar li.gists i {
        background-color: #74F27C; }
      .nav-container .nav-bar li.gists a {
        color: #74F27C; }
      .nav-container .nav-bar li.stock i {
        background-color: #74F27C; }
      .nav-container .nav-bar li.stock a {
        color: #74F27C; }
      .nav-container .nav-bar li.trending i {
        background-color: #ED75C5; }
      .nav-container .nav-bar li.trending a {
        color: #ED75C5; }
      .nav-container .nav-bar li.scratch i {
        background-color: #B38DED; }
      .nav-container .nav-bar li.scratch a {
        color: #B38DED; }
      .nav-container .nav-bar li.playground i {
        background-color: #EAEAE7; }
      .nav-container .nav-bar li.playground a {
        color: #EAEAE7; }
      .nav-container .nav-bar li.help i {
        background-color: #E6DC74; }
      .nav-container .nav-bar li.help a {
        color: #E6DC74; }

.card {
  padding: 5px; }
  .card .paragraph {
    padding-bottom: 20px;
    border-left: 3px solid white; }
    .card .paragraph a {
      text-decoration: none;
      padding-left: 10px;
      display: block;
      color: inherit; }
  .card.card-javascript, .card .card-github_history {
    flex: 0 0 25%; }
    @media (max-width: 768px) {
      .card.card-javascript, .card .card-github_history {
        flex: 0 0 50%; } }
  .card.card-javascript_history {
    flex: 0 0 50%; }
    @media (max-width: 768px) {
      .card.card-javascript_history {
        flex: 0 0 100%; } }

.card-javascript_history {
  display: flex;
  flex-direction: column; }
  .card-javascript_history .javascript-history {
    border-bottom: 1px solid white; }
  .card-javascript_history .scroll-list {
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: 20px; }
  .card-javascript_history .card-time {
    text-align: center; }
    .card-javascript_history .card-time .time {
      color: #6272a4;
      font-size: 40px; }
      .card-javascript_history .card-time .time .hours {
        font-size: 100px; }

body {
  font-family: "Inconsolata", monospace; }

.grid {
  display: grid;
  grid-template-columns: 1fr 11fr;
  background-color: #282935;
  color: white; }

.main-container {
  display: flex;
  justify-content: space-between; }

/*# sourceMappingURL=style.css.map */
