@import 'components/nav';
@import 'components/icons';
@import 'components/card';
@import 'mixins';
@import 'https://fonts.googleapis.com/css?family=Inconsolata&display=swap';

$breakpoint-tablet: 768px;

body {
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
   margin: 0;
  padding: 0;
}
h2 {
  font-size: 15px;
  color:#8BE9FC;
  padding-bottom: 2px;
  padding-left: 31px;
}
.grid {
  display: grid;
  grid-template-columns:1fr 11fr;
  background-color:#282935;
  color: white;
}
.main-container {
  padding-top: 15px;
  padding-right: 90px;
  display: flex;
  justify-content: space-between;
}
