$breakpoint-tablet: 768px;
$breakpoint-mobile: 415px;

.card {
  padding: 5px;

  .paragraph {
    padding-bottom:20px;

    border-left:3px solid white;

    a {
        text-decoration:none;
        padding-left:10px;
        display:block;
        color:inherit;
    }
    .user {
      color: #E6DC74;

    }
    .postedby {
      color:#8BE9FC;
    }
    .score {
      color: #A0CAF0;
    }
    .link {
      color:#ED75C5;
    }
    .request-number {
      color:#ED75C5;
    }
    .repo {
      color: #A0CAF0;
    }
  }

  &.card-javascript, .card-github_history {
      flex: 0 0 25%;

        @media (max-width: $breakpoint-tablet) {
            flex: 0 0 50%;
        }
    }

   &.card-javascript_history {
    flex: 0 0 50%;

    @media (max-width: $breakpoint-tablet) {
        flex: 0 0 100%;
    }
  }

}

.card-javascript_history {
  display: flex;
  flex-direction: column;

  .javascript-history {
    border-bottom: 1px solid white;
}

  .scroll-list {
      height: 400px;
      overflow:hidden;
      overflow-y:scroll;
      padding-bottom: 20px;
      color: #A0CAF0;

      .time-stamp{
        color: gray;
      }
  }

  .card-time {
    text-align: center;
     .time {
        color: #6272a4;
        font-size: 40px;
      .hours {
        font-size: 100px;
      .minute {
        font-size: 100px;
      .date {
        color: #6272a4;
        font-size: 40px;
          }
        }
       }
     }
  }
}
