$breakpoint-tablet: 768px;
$breakpoint-mobile: 415px;

.card {
  padding: 5px;

  .paragraph {
    padding-bottom:20px;
    color: white;
    border-left:3px solid white;

    a {
        text-decoration:none;
        padding-left:10px;
        display:block;
        color:inherit;
    }
    .user {
      color: #E6DC74;

    }
    .postedby {
      color:#8BE9FC;
    }
    .score {
      color: #A0CAF0;
    }
    .link {
      color:#ED75C5;
    }
    .request-number {
      color:#ED75C5;
    }
    .repo {
      color: #A0CAF0;
    }
  }


  &.card-javascript, .card-github_history {
      flex: 0 0 25%;

        @media (max-width: $breakpoint-tablet) {
            flex: 0 0 50%;
        }
    }

   &.card-javascript_history {
    flex: 0 0 50%;

    @media (max-width: $breakpoint-tablet) {
        flex: 0 0 100%;
    }
  }

}
    .link-space {
        margin-bottom: 0;

    }
    .github-link {
        margin-left: 54px;
        font-size: 12px;
        color: #A0CAF0;
    }
    .issues-link {
        color: #E6DC74;
        margin-left: 43px;

    }
    .pull-request-link {
        color:#ED75C5;
        margin-left: 12px;
    }
    .arrow-up {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #E6DC74;
      margin-top: 1px;
      margin-left: 58px;
}





 .scroll-lists {
        height: 800px;
        overflow:hidden;
        overflow-y:scroll;
        padding-bottom: 20px;
        color: #A0CAF0;
        padding: 15px;
 }

.card-javascript_history {
  display: flex;
  flex-direction: column;

    .javascript-history {
        border-bottom: 1px solid white;
    }

    .scroll-list {
        height: 450px;
        overflow:hidden;
        overflow-y:scroll;
        padding-top: 10px;
        padding-bottom: 20px;
        color: #A0CAF0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            justify-content: space-between;
        }

        .score {




        .time-stamp {
            color: gray;
            }
        }
    }


    .card-time {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #6272a4;


        .time {
          color: #6272a4;
          font-weight: bolder;
          margin-bottom: auto;
          margin-top: auto;
          margin-right: 85px;
          font-size: 120px;
          padding-top: 60px;
          display: flex;

        }

        .meridies {
            font-size: 26px;
        }



        .date {
            color: #6272a4;
            font-size: 20px;
            margin-right: 85px;
        }

        .hours {
            font-size: 120px;
        }


        .minute {
            font-size: 120px;
        }
    }

}
