.nav-container {
  background-color: #45475b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-bar {
 justify-content: flex-end;
 text-decoration: none;

}

.nav-bar > li {
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    list-style: none;
    margin: 0 0 0 1em;
}

.setting-link {
  color: #8BE9FC;
  text-decoration: none;
}
.gists-link {
  color: #74F27C;
  text-decoration: none;
}

.stock-link {
  color: #F6B76B;
  text-decoration: none;
}
.trending-link {
  color: #ED75C5;
  text-decoration: none;
}
.scratch-link {
  color: #B38DED;
  text-decoration: none;
}
.playground-link {
  color: #EAEAE7;
  text-decoration: none;
}
.help-link{
  color: #E6DC74;
  text-decoration: none;
}
